<div class='row' >
<% if logged_in? %>
  <div class='span3 well text-center' style='width:40px; background: lightgray; margin: 5px;'>
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'> :)</i>
    <% end %>
    </br>
    <%= post.total_votes %> 
    </br>
    <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
      <i class='caret'> :( </i>
      
    <% end %>
  </div>
<% else %>
  <div class='span3 well text-center' style='width:40px; background: lightgray; margin: 5px;'>
    </br>
    <%= post.total_votes %> 
  </div>
<% end %>
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <h4><%= post.description %></h4>
    (<%= link_to 'edit', edit_post_path(post) if logged_in? %>)
    <p>
      <small>at <%= display_datetime(post.created_at) %></small>
      
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>
